@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

$-c--soft-blue: hsl(231, 69%, 60%);
$-c--soft-red: hsl(0, 94%, 66%);
$-c--gray-blue: hsl(229, 8%, 60%);
$-c--dark-blue: hsl(229, 31%, 21%);

$-f--rubik: "Rubik";