@import "reset";
@import "variables";

body {
    font-family: $-f--rubik;
    font-weight: 400;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

button {
    cursor: pointer;
    border: none;
    font-family: $-f--rubik;
    color: white;
    background: transparent;

    &:focus {
        outline: none;
    }
}

h2 {
    line-height: 1.8rem;
}

h2,
h3 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

p {
    font-size: 15px;
    text-align: center;
    line-height: 1.5rem;
}

.header--nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 32px;
    position: relative;

    .nav--logo {
        z-index: 2;
    }

    .nav--toggle {
        background: transparent;
        padding: 0;
        z-index: 2;
    }

    .nav--links {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 105px;
        text-align: center;
        display: none;
        width: 100%;
        padding: 0 32px;

        .links--social {
            position: fixed;
            bottom: 40px;
            display: flex;
            align-items: center;
            column-gap: 40px;
        }
    }

    .nav--links li {
        box-shadow: 0px 1px 0px 0px rgba(145, 148, 161, .5);
        width: 100%;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 0.125rem;
        color: white;
        padding: 22px 0;
        cursor: pointer;

        &:first-of-type {
            box-shadow: 0px 1px 0px 0px rgba(145, 148, 161, .5),
                0px -1px 0px 0px rgba(145, 148, 161, .5);
        }

        &:last-of-type {
            padding: 12px 0;
            border: 2px solid white;
            border-radius: 5px;
            margin-top: 25px;
        }
    }

    .nav--links.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: fade-in .6s;
    }

    .nav--backdrop {
        background: $-c--dark-blue;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: .95;
        animation: dropdown .3s ease-in-out;
        transform-origin: top;
    }
}

header,
main {

    h2,
    h3 {
        color: $-c--dark-blue;
    }

    p {
        color: $-c--gray-blue;
    }
}

header {
    margin-top: 32px;

    .header--hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 0 12px;

        .hero--img {
            width: 350px;
        }

        .hero--backdrop {
            position: absolute;
            right: 0;
            top: 55px;
            border-radius: 0 0 0 100px;
            z-index: -1;
            width: calc(50% + 115px);
            height: 200px;
            background: $-c--soft-blue;
        }
    }

    .header--intro {
        padding: 0 32px;

        .intro--heading {
            font-size: 30px;
            font-weight: 500;
            color: $-c--dark-blue;
            text-align: center;
            margin-top: 64px;
            line-height: 2.35rem;
        }

        .intro--paragraph {
            margin-top: 18px;
        }

        .intro--buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 32px;
            column-gap: 12px;

            button {
                border-radius: 5px;
                padding: 15px 0;
                font-weight: 500;
                font-size: 14px;
                -webkit-box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.15);
                box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.15);
            }

            .buttons--blue {
                background: $-c--soft-blue;
            }

            .buttons--white {
                color: rgb(77, 77, 77);
                background-color: #f5f5f5;
            }
        }
    }
}

main {
    padding: 0 32px 125px;

    .main--features-heading {
        margin-top: 150px;
    }

    .main--features-paragraph {
        margin-top: 18px;
    }

    .main--features-select {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgba(145, 148, 161, .3);
        margin-top: 44px;

        .features-select--button {
            padding: 18px 0;
            border-top: 1px solid rgba(145, 148, 161, .3);
            text-align: center;
            font-family: $-f--rubik;
            font-size: 17px;
            position: relative;
            background: transparent;
            color: $-c--dark-blue;

            &.selected::after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 145px;
                height: 3px;
                background: $-c--soft-red;
            }

            &:focus {
                outline: none;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .main--features-body {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .features-body--illustration {
            height: 304px;
        }

        #simple-illustration {
            margin-top: 70px;
            height: 200px;
        }

        #speedy-illustration {
            margin-top: 60px;
            height: 240px;
        }

        #easy-illustration {
            margin-top: 60px;
            margin-left: 20px;
            height: 218px;
        }

        .features-body--backdrop {
            margin-top: 70px;
            position: absolute;
            left: -32px;
            top: 34px;
            border-radius: 0 0 100px 0;
            z-index: -1;
            width: calc(50% + 150px);
            height: 200px;
            background: $-c--soft-blue;

            .backdrop--inner {
                position: absolute;
                top: 0;
                right: 0;
                background: white;
                width: 150px;
                height: 150px;
            }
        }

        .features-body--content {
            margin-top: 44px;

            .content--paragraph {
                margin-top: 18px;
            }
        }
    }

    .main--extension {
        margin-top: 150px;

        .extension--paragraph {
            margin-top: 18px;
        }

        .extension--browser {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            padding: 0 15px;
            row-gap: 40px;

            .browser--card {
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 15px;
                width: 100%;
                -webkit-box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.10);
                box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.10);
                padding: 45px 25px 25px;
                background: center bottom 95px / contain repeat-x url(../../images/bg-dots.svg);

                h3 {
                    font-size: 20px;
                    font-weight: 500;
                    color: $-c--dark-blue;
                    margin-top: 30px;
                }

                p {
                    margin-top: 10px;
                }
            }
        }

        .extension--install {
            background: $-c--soft-blue;
            color: white;
            font-family: $-f--rubik;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: 0.05rem;
            padding: 15px 0;
            width: 100%;
            border-radius: 5px;
            margin-top: 70px;

            &:focus {
                outline: none;
            }
        }
    }

    .main--faq {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 145px;

        .faq--paragraph {
            margin-top: 20px;
        }

        .faq--questions {
            margin-top: 45px;
            width: 100%;

            .questions--dropdown {
                border-bottom: 1px solid rgba(145, 148, 161, .3);
            }

            .dropdown--toggle {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 25px 0;
                cursor: pointer;

                h3 {
                    font-size: 15px;
                    font-weight: 400;
                }

                .dropdown--arrow {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: transform .3s, stroke .3s;
                }
            }

            .dropdown--answer {
                animation: dropdown .3s ease-in-out;
                transform-origin: top;
                margin: 16px 0 32px;

                p {
                    text-align: left;
                    letter-spacing: 0.02rem;
                    line-height: 1.8rem;
                }
            }
        }

        .faq--info {
            background: $-c--soft-blue;
            color: white;
            font-family: $-f--rubik;
            font-size: 14px;
            letter-spacing: 0.05rem;
            padding: 15px 25px;
            border-radius: 5px;
            margin-top: 50px;

            &:focus {
                outline: none;
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    background: $-c--dark-blue;
    color: white;

    .footer--contact {
        display: flex;
        flex-direction: column;
        background: $-c--soft-blue;
        padding: 70px 32px 60px;

        h3 {
            font-size: 13px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.235rem;
        }

        h2 {
            font-size: 23px;
            margin-top: 18px;
        }

        .contact--form {
            display: flex;
            flex-direction: column;
            margin-top: 30px;

            .form--input-container {
                display: flex;
                flex-direction: column;

                .input-container--input {
                    border: 2px solid transparent;
                    padding: 14px 18px;
                    border-radius: 5px;
                    font-family: $-f--rubik;
                    font-size: 15px;
                    color: $-c--dark-blue;
                    width: 100%;
                    box-sizing: border-box;

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        color: $-c--gray-blue;
                        opacity: .5;
                    }
                }
            }

            button {
                background: $-c--soft-red;
                border-radius: 5px;
                margin-top: 15px;
                padding: 16px 0;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.05rem;
            }
        }

        &.error {
            padding-bottom: 40px;

            .form--input-container {
                position: relative;

                .input-container--input {
                    border: 2px solid $-c--soft-red;
                    z-index: 1;
                }

                .input-container--error-icon {
                    position: absolute;
                    right: 18px;
                    top: 14px;
                    z-index: 2;
                }

                .input-container--alert {
                    width: 100%;
                    padding: 12px 12px 6px;
                    background-color: $-c--soft-red;
                    position: relative;
                    top: -7px;
                    border-radius: 0 0 5px 5px;
                    font-size: 10px;
                    font-style: italic;
                }
            }

            button {
                margin-top: 8px;
            }
        }
    }

    .footer--nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0 40px;

        .nav--links {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
            margin-top: 35px;

            button {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.125rem;
            }
        }

        .nav--social {
            display: flex;
            align-items: center;
            column-gap: 40px;
            margin-top: 50px;
        }
    }

    .footer--credit {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px 32px;
        background-color: white;
        font-size: 13px;
        color: $-c--dark-blue;
        row-gap: 4px;

        a {
            text-decoration: none;
            color: $-c--soft-red;
        }

        span:nth-of-type(2) {
            a {
                color: $-c--soft-blue;
            }
        }
    }
}

@media (min-width: 768px) {

    h2 {
        line-height: 1.8rem;
    }

    h2,
    h3 {
        font-size: 32px;
        font-weight: 500;
        text-align: center;
    }

    p {
        font-size: 18px;
        text-align: center;
        line-height: 1.5rem;
    }

    .header--nav {
        padding: 30px 170px;

        .nav--links {
            flex-direction: row !important;
            position: static;
            width: auto;
            padding: 0;
            column-gap: 42px;

            li {
                color: $-c--dark-blue;
                box-shadow: none !important;
                font-size: 13px;

                &:last-of-type {
                    margin: 0;
                    background: $-c--soft-red;
                    color: white;
                    padding: 14px 30px;
                    border-radius: 5px;
                    border: none;
                    font-size: 12px;
                }
            }
        }

        .nav--toggle {
            display: none;
        }
    }

    header {
        // padding: 0 170px;
        display: grid;
        grid-template-columns: 680px 1fr;

        .header--hero {
            order: 1;

            .hero--img {
                width: auto;
                height: 100%;
            }

            .hero--backdrop {
                top: 145px;
                height: 350px;
                border-radius: 0 0 0 200px;
                width: calc(50% + 140px);
            }
        }

        .header--intro {
            padding: 0;
            margin: 0 0 0 170px;

            .intro--heading {
                font-size: 48px;
                text-align: left;
            }

            .intro--paragraph {
                text-align: left;
            }

            .intro--buttons {
                display: flex;

                button {
                    padding: 15px 25px;
                }
            }
        }
    }

    main {
        padding: 0 170px 125px;
    }
}

@keyframes dropdown {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}